/**
COLORS in hex for later use:
#0bac8b - green
#898aba - light teal/green
#7c7c7c - dark grey
#a9aaa9 -light grey
#ffffff - white
 */
.test-class {
  color: #7c7c7c; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: black;
  /*****Fix for IE****/
  overflow-x: hidden;
  font-size: 14px; }

.paddingZero {
  padding-left: 0;
  padding-right: 0; }

.btn-custom {
  margin-top: 20px; }

.frontText {
  margin-top: 100px; }

.img-responsive {
  margin: 0 auto; }

.col-lg-12 {
  padding-left: 0;
  padding-right: 0; }

.fa {
  padding: 3px; }

.logo {
  color: #fff !important; }

.fa:hover,
.fa:focus {
  text-decoration: none; }

.tableHeader {
  background-color: #373a3c;
  color: white; }

label {
  margin-top: 5px; }

.fa-ban,
.fa-ban:hover,
.fa-ban:focus {
  color: red; }

.fa-check,
.fa-check:hover,
.fa-check:focus {
  color: green; }

textarea {
  resize: vertical;
  /* user can resize vertically, but width is fixed */ }

.rowfix {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.spacing {
  margin-top: 25px; }

.marginLeft {
  margin-left: 10px; }

table {
  /*width: 100% !important;*/
  /*padding: 5px;*/
  /*font-size: 18px;*/
  /*border: 1px solid #222;*/ }

.table-responsive {
  padding-left: 15px;
  padding-right: 15px; }

form {
  margin-top: 20px; }

.btn-fixer {
  padding-right: 19px;
  margin-top: 20px; }

.btn-left {
  padding-left: 15px; }

a:hover {
  text-decoration: none; }

td {
  padding: 8px; }

th {
  background-color: #222 !important;
  color: white !important;
  padding: 10px;
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%); }

.headerbutton {
  float: right; }

.required:after {
  content: ' *';
  color: #e32; }

body {
  margin-top: 100px; }

@media (min-width: 768px) {
  body {
    margin-top: 50px; } }
#wrapper {
  padding-left: 0; }

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff; }

.huge {
  font-size: 50px;
  line-height: normal; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px; }

  #page-wrapper {
    padding: 10px; } }
/* Top Navigation */
.top-nav {
  padding: 0 15px; }

.top-nav > li {
  display: inline-block;
  float: left; }

.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999; }

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: #222; }

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal; }

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto; }

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px; }

li.message-footer {
  margin: 5px 0; }

ul.alert-dropdown {
  width: 200px; }

/* Side Navigation */
@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px; }

  .side-nav > li > a {
    width: 225px; }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important; } }
.side-nav > li > ul {
  padding: 0; }

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999; }

.side-nav > li > ul > li > a:hover {
  color: #fff; }

/* Flot Chart Containers */
.flot-chart {
  display: block;
  height: 400px; }

.flot-chart-content {
  width: 100%;
  height: 100%; }

/* Custom Colored Panels */
.huge {
  font-size: 40px; }

.panel-green {
  border-color: #5cb85c; }

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c; }

.panel-green > a {
  color: #5cb85c; }

.panel-green > a:hover {
  color: #3d8b3d; }

.panel-red {
  border-color: #d9534f; }

.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f; }

.panel-red > a {
  color: #d9534f; }

.panel-red > a:hover {
  color: #b52b27; }

.panel-yellow {
  border-color: #f0ad4e; }

.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e; }

.panel-yellow > a {
  color: #f0ad4e; }

.panel-yellow > a:hover {
  color: #df8a13; }

.morris-hover {
  position: absolute;
  z-index: 1000; }

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center; }

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0; }

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0; }

.wizard {
  margin: 20px auto;
  background: #fff; }

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0; }

.wizard > div.wizard-inner {
  position: relative; }

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1; }

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent; }

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px; }

span.round-tab i {
  color: #555555; }

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de; }

.wizard li.active span.round-tab i {
  color: #5bc0de; }

span.round-tab:hover {
  color: #333;
  border: 2px solid #333; }

.wizard .nav-tabs > li {
  width: 25%; }

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out; }

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de; }

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0; }

.wizard .nav-tabs > li a:hover {
  background: transparent; }

.wizard .tab-pane {
  position: relative;
  padding-top: 50px; }

.wizard h3 {
  margin-top: 0; }

@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important; }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px; }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px; }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%; } }

/*# sourceMappingURL=main.css.map */
