$orange-color: #ffc000;
$prim-grey: #353537;
$sec-grey: #f0f0f0;
$btn-grey: #E6E6E6;

body {
    background-color: #f0f0f0;

}

.padding-zero {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.margin-bot15 {
    margin-bottom: 15px;
}

@font-face {

}

/**
Header
 */

.logo {
    background-color: #fff;
}

.headline {
    border-bottom: 4px solid black;
}

.content-bg {
    background-color: #fff;
}

.dropdown-menu {
    box-shadow: none; /*REMOVE BOX SHADOW IN DROPDOWN*/
}

.nav-col {
    background-color: $prim-grey !important;
    border-bottom: 5px solid $orange-color;
}

.navbar-brand {
    font-size: 14px !important;
}

/*TOP NAV MENU GRAY*/
.navbar {
    border-radius: 0;
}

.navbar-gray {
    background-color: $prim-grey !important;
}

.navbar-gray .navbar-nav > .active > a:hover, .navbar-gray .navbar-nav > li > a:hover, .navbar-gray .navbar-nav > li > a:focus {
    background-color: #444444
}

.navbar-gray .navbar-nav > .active > a, .navbar-gray .navbar-nav > .open > a, .navbar-gray .navbar-nav > .open > a, .navbar-gray .navbar-nav > .open > a:hover, .navbar-gray .navbar-nav > .open > a, .navbar-gray .navbar-nav > .open > a:hover, .navbar-gray .navbar-nav > .open > a:focus {
    background-color: #444444
}

.navbar-gray .dropdown-menu {
    background-color: #666666;
}

.navbar-gray .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #444444;
    color: #FFFFFF;
}

.navbar-gray .navbar-brand {
    color: #FFFFFF
}

/*brand text colour*/
.navbar-gray .navbar-brand:hover {
    color: #FFFFFF
}

.navbar-gray .navbar-nav > li > a {
    color: #FFFFFF
}

/*Changes navbar text colour*/
.navbar-gray .navbar-nav > .active > a, .navbar-gray .navbar-nav > .open > a, .navbar-gray .navbar-nav > .open > a:hover, .navbar-gray .navbar-nav > .open > a:focus {
    color: #FFFFFF
}

.navbar-gray .navbar-nav > .active > a:hover, .navbar-gray .navbar-nav > .active > a:focus {
    color: #FFFFFF
}

.navbar-gray .dropdown-menu > li > a {
    color: #FFFFFF
}

.navbar-gray .icon-bar {
    background-color: #000;
}

/*BURGERMENU:*/
.navbar-gray .icon-bar {
    background-color: #eeeeff;
}

.navbar-default {
    background-color: $prim-grey !important;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}

.nav-col {
    background-color: #c3c3c3;
    color: white !important;
}

/**
SIDE BAR
 */

.side-bar {
    background-color: $sec-grey;

    .sponsor {

        ul {
            li {
                list-style: none !important;
            }
        }

    }
}

/**
    INDEX
 */

.main-btn {
    background-color: $btn-grey;
    color: #777788;
    border-radius: 0;
}

/**
CONTACT page
 */
.contact {
    ul {
        li {
            list-style: none;
        }
    }
}

/*
FOOTER CONTENT
 */

footer {
    background-color: $prim-grey;
    color: #fff;

    ul {
        li {
            list-style: none;
        }
    }

    .main-btn {
        margin-right: 5px;
    }

    .newsletter {
        padding: 5px;
        border-radius: 1px;
        width: 92% !important;
    }
}